*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header{
    background-color: #000000;
}

h1{
    text-align: center;
    color: white;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.footer > button{
    width: 100%;
    border:0px;
    background-color: #000000;
    color: #dddddd;
}

.footer > button:active{
    background-color: white;
}

